// Esquema de colores

// Primer esquema de color
$white: #FFF;
$platinum:#E8E8E8;
$light-gray: #D1D1D1;

// Segundo esquema de color
$fuzzy-wuzzy:#E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;

// Tercer esquema de color
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6C6E70;

// Tipografía
$roboto:'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;

// Peso de fuentes
$light:300;
$regular:400;
$semi-bold:600;
$bold:700;
$black-italic:900;

// Tamaños de tipografías
$xx-large:70px;
$x-large:30px;
$large:18px;
$medium:16px;
$small:14px;
$x-small:12px;